<div>
<h4>Dear {{ student.firstname }} {{ student.lastname }},</h4>
<p>
	Hi this is MSTP Abstract Book Team <br />
	<br />
	Yes, it's the time of the year again to submit your
	updated profile and abstract for the upcoming MSTP second look event!<br />
	<strong>The due date is Feb 23, 2015</strong>!!!</br>
	<br />
	Please visit <a href="http://abstract.ewalkerlab.com">here</a> and login using your BCM email and student ID<br />
	Make sure to update and confirm your profile, submit abstract if required, and update any awards and publications!
	<br />
	If you encounter any problem or have any question about the webpage, please contact Edgar Walker at <a href="mailto:edgar.walker@gmail.com">edgar.walker@gmail.com</a><br />
	<br />
	Sincerely,<br />
	MSTP Abstract Book Team
</p>>
</div>
