{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Profile{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Edit Profile</h1>

</div>
<div class="col-md-6">
	<p><strong>Name : {{ student.firstname }}&nbsp;{{ student.lastname }}</strong></p>
	
	<form method="post" role="form">
		{{ form.csrf_token }}	
		{{ form.studenttitle.label }} {{ wtf.form_field(form.studenttitle) }}
		<p><strong>Year : {{ student.grade }}</strong></p>
	    {{ wtf.form_field(form.department_std) }}
	    {{ wtf.form_field(form.department_other_std) }}
	    <p>--------------------------------------------------------------------------------------------</p>
		{{ wtf.form_field(form.advisorname1) }}
		{{ form.advisortitle1.label }}
		{{ wtf.form_field(form.advisortitle1) }}
		{{ wtf.form_field(form.department_adv1) }}
		{{ wtf.form_field(form.department_other_adv1) }}
		<p>--------------------------------------------------------------------------------------------</p>
		{{ wtf.form_field(form.advisorname2) }}
		{{ form.advisortitle2.label }}
		{{ wtf.form_field(form.advisortitle2) }}
		{{ wtf.form_field(form.department_adv2) }}
		{{ wtf.form_field(form.department_other_adv2) }}
		{{ wtf.form_field(form.submit) }}
	</form>

</div>
{% endblock %}