{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Overview{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block page_content %}

	<h2>Overview</h2>
	<div class="page header">
	<h3>Abstract  <a class="btn btn-default" href="{{ url_for('.edit_abstract') }}"> Edit Abstract Info</a></h3>
	<p>Title: {{ abstract.title }}</p>
	<p>List of Authors: {{ abstract.authors }}</p>
	<p>Content: {{ abstract.content }}</p>
	<p>Presentation Type: {{ abstract.presen_type }}</p>
	
	</div>

{% endblock %}