{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hall of Shame{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block page_content %}

<h2>Hall of Shame</h2>
<div class="page header">
<h3>Missing both...</h3>
{% for x in both %}
<p>{{ x.firstname }}&nbsp;{{ x.lastname }} : {{ x.email }}</p>
{% endfor %}
<a href="{{ url_for('.both_list_emails')}}"> Send Emails</a>
<h3>Students missing just the profile</h3>
{% for x in missing_p %}
<p>{{ x.firstname }}&nbsp;{{ x.lastname }} : {{ x.email }}</p>
{% endfor %}
<a href="{{ url_for('.prof_list_emails')}}"> Send Emails</a>
<h3>Students missing just the abstract</h3>
{% for x in missing_a %}
<p>{{ x.firstname }}&nbsp;{{ x.lastname }} : {{ x.email }}</p>
{% endfor %}
<a href="{{ url_for('.abs_list_emails')}}"> Send Emails</a>
{% endblock %}

