{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hall of Shame{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block page_content %}

<h2>Hall of Shame</h2>
<div class="page header">
<h3>Students with incomplete profile</h3>
{% for x in missing_profiles %}
<p>{{  x.studentname }} : {{ x.email }}</p>
{% endfor %}
{#<h3>Students with missing abstracts</h3>
{% for x in students %}
	{% if Abstract.query.filter_by(student_id=x.id).first() == None %}
		{{ bad_student = Student.query.filter_by(id=x.id).first() }}
		<p>{{ bad_student.studentname }} : {{ bad_student.email }}</p>
	{% endif %}
{% endfor %}
#}
{% endblock %}